body {
  margin-top: 50px;
}

body td, body th {
  text-align: center;
}

body a, body a:active, body a:hover, body a:visited, body a:active, body a:hover {
  color: yellow;
  text-decoration: none;
}
