//variable declaration in list form fot links only
$a-tags: 'a, a:active, a:hover, a:visited, a:active, a:hover';

body{
  margin-top:50px;
  td,th{
    text-align: center;
  }
  #{$a-tags} {
    color: yellow;
    text-decoration: none;
  }

  }
